<!------------------------- avatars ------------------------>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'avatars/css/style.css' %}">
    <title>User Dashboard</title>
</head>
<body>
    <div id="overlay">
        <div class="jumbotron" id="usernav">
            <div class="avatar-banner avatar-{{user.user_level}}" id="cat-{{user.avatar}}"></div>
            <h1 class="display-4">{{request.session.username}}</h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="../dashboard/{{request.session.username}}">Home Base</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../kithub">Kit-Hub</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="container profilewrapper"><a href="/dashboard/{{request.session.username}}">Back</a>
        </div>
        <div id="avatarmain">
        <h1>Choose your SpaceCat</h1>
        <div class="container" id="avatarwrapper">
            <div class="row">
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-2"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="2">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-3"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="3">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-4"></div>  
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="4">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>          
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-5"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="5">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
            </div>
            <div class="row">
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-6"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="6">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-7"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="7">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-8"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="8">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-9"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="9">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
            </div>
            <div class="row">
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-11"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="11">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-12"></div> 
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="12">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>           
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-13"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="13">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-15"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="15">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
            </div>
            <div class="row">
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-16"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="16">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-17"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="17">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-18"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="18">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-19"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="19">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
            </div>
            <div class="row">
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-20"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="20">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-21"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="21">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-22"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="22">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
                <div class="col avatar-select-wrapper">
                    <div class="avatar-select" id="cat-23"></div>
                    <form action="/avatars/editavatar" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="avatar" value="23">
                        <button id="avatarselectbtn" type="submit">Select</button>
                    </form>            
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>