<!------------------------- dashboard ------------------------>
<!-- friend confirmation -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <div id="overlay">
        <div class="jumbotron" id="usernav">
            <div class="avatar-main avatar-{{user.user_level}}" id="cat-{{user.avatar}}"></div>
            <h1 class="display-4">{{request.session.username}}</h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard/{{request.session.username}}">Home Base</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../kithub">Kit-Hub</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="container profilewrapper">
            <div class="row">
                <div class="col-sm-4" id="mainavatar">
                    <div class="avatarwrapper">
                        <h5>{{owner.username}}</h5>
                        <div class="avatar-profile avatar-{{owner.user_level}}" id="cat-{{owner.avatar}}"></div>
                        {% if owner == user %}
                        <a href="/avatars">Change avatar</a><br>
                        <a href="{{request.session.username}}/edit">Edit profile</a><br>
                            {% if request.session.username == "Unruly_SpaceCat" %}
                            <a href="/dashboard/{{request.session.username}}/admin">Admin</a>
                            {% endif %}
                        {% elif user in all_friends %}
                        <form action="/dashboard/{{owner.username}}/removefriend" method="post">
                            {% csrf_token %}
                            <input id="unfriend" type="submit" value="Unfriend">
                        </form>
                        {% else %}
                            <form action="/dashboard/{{owner.username}}/addfriend" method="post">
                                {% csrf_token %}
                                <input id="makefriend" type="submit" value="Add as friend">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 aboutme">
                    <h5>Bio:</h5><br><p>{{owner.bio}}</p><br>
                </div>
            </div> <!-- end of top row -->
            {% if owner.privacy == True and user != owner and user not in owner.friend.all %}
            <h3 id="centered">{{owner.username}}'s wall is private</h3>
            {% else %}
            <div class="row"> <!-- second row -->
                <div class="col-sm-4 myfriends">
                    <a href="/dashboard/{{owner.username}}/friends"><h3>See Friends</h3></a>
                </div>
            </div>
            {% if user != owner %}
            <div id="trigger">
                    <h3>Leave a message for {{owner.username}}</h3>
                    <form action='/dashboard/{{owner.username}}/postconvo' method='post'>
                        {% csrf_token %}
                    <textarea placeholder="Max 1000 characters" maxlength="1000" class="form-control" name="newconvo" id="convobox" rows="4"></textarea>
                    <button id="startconvo" type="submit">Post</button>
                    <input class="form-check-input" name="privacy" type="checkbox" value="private" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    Private
                    </label>
                    </form>
                </div>
            {% else %}
            <div id="trigger">
                    <h3>Post on my wall</h3>
                    <form action='/dashboard/{{owner.username}}/postconvo' method='post'>
                        {% csrf_token %}
                    <textarea placeholder="Max 1000 characters" maxlength="1000" class="form-control" name="newconvo" id="convobox" rows="4"></textarea>
                    <button id="startconvo" type="submit">Post</button>
                    </form>
                </div>
            {% endif %}
            <div class="row">
                    {% if user == owner %}
                        <h3 id="centered">My Wall</h3>
                    {% else %}
                        <h3 id="centered">{{owner.username}}'s Wall</h3>
                    {% endif %}
                    </div>
                    <div class="row offset-left">
                        {% if user == owner and user.privacy == False %}
                        <a id="makeprivate" href="/dashboard/{{owner.username}}/private">Only let friends see my wall</a>
                        {% elif user == owner and user.privacy == True %}
                        <a id="makeprivate" href="/dashboard/{{owner.username}}/private">Make my wall public</a>
                        {% endif %}
                    </div>
                    {% for convo in all_convos %}
                        {% if convo.privacy == True %}
                        {% if user == convo.creator or user == convo.wall_owner %}
                            <div class="profile-convo-wrapper private">
                                <div class="row convoheader">
                                    <div class="col-2">
                                    <div class="avatarwrapper">
                                    <div class="avatar-convo avatar-{{convo.creator.user_level}}" id="cat-{{convo.creator.avatar}}"></div>
                                    <a href="../dashboard/{{convo.creator.username}}">{{convo.creator.username}}</a><br>
                                    {% if user == convo.creator %}
                                    <a href=#>Edit</a>
                                    {% endif %}
                                    {% if user == convo.creator or user == convo.wall_owner %}
                                    <a href="#">Delete</a>
                                    {% endif %}
                                    </div>
                                    </div>
                                    <div class="col-sm-8"><h5 id="privatemessage">Private Message:<br>{{convo.creator.username}}<br>{{owner.username}}</h5></div>
                                    <div class="col-sm-2 posttime">{{convo.created_at | timesince}}</div>
                                </div>
                                <p><em>{{convo.content}}</em></p>
                            </div>
                            {% endif %}
                        {% elif convo.privacy == False %}
                        <div class="profile-convo-wrapper public">
                        <div class="row convoheader">
                            <div class="col-2">
                            <div class="avatarwrapper">
                            <div class="avatar-convo avatar-{{convo.creator.user_level}}" id="cat-{{convo.creator.avatar}}"></div>
                                <a href="../dashboard/{{convo.creator.username}}">{{convo.creator.username}}</a><br>
                                {% if user == convo.creator %}
                                <a href=#>Edit</a>
                                {% endif %}
                                {% if user == convo.creator or user == convo.wall_owner %}
                                <a href="#">Delete</a>
                                {% endif %}
                            </div>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-sm-2 posttime">{{convo.created_at | timesince }}</div>
                            </div>
                            <p><em>{{convo.content}}</em></p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div><!-- end of profilewrapper -->
    </div><!-- end of overlay -->
</body>
</html>
